[submodule "lib/libWinTF8"]
	path = lib/libWinTF8
	url = https://github.com/m13253/libWinTF8.git
[submodule "lib/libllsm"]
	path = lib/libllsm
	url = https://github.com/Icenowy/libllsm.git
	branch = cmake
